{% extends "mains/wrapper.html" %}

{% block content %}
<div class = area>
{% for e in events %}
  <h2>{{e.title}}</h2>
  <h3>Начало события: {{e.event_id.date|date:"Y-m-d"}}</h3>
  <p>{{e.body|safe}}</p><br>
  <h3 class = info_t>Результат:</h3>
  <p class = info>{{e.result}}</p><br>
  {% if place %}
  <h3 class = info_t>Места события:</h3>
  {% endif %}
  {% for p in place.all %}
  <p class=info>{{p.place}}</p>
  {% endfor %}
  <h3 class=info_t>Участники:</h3>
  {% for heroe in e.participants.all %}
  <a href="../{{heroe.id}}/heroe" class = info>{{heroe.name}}</a><br>
  {% endfor %}
{% endfor %}
</div>







{% endblock %}
